@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-link {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  padding: 10px 5px;
  text-align: center;
  color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  width: 220px;
  background-color: inherit;
}

.button-link::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  background-color: #FFE17F;
  left: 0%;
  top: 40%;
  z-index: -1;
}

.button-link:hover {
  background: #FFE17F;
}

.button-link:disabled,
.button-link:disabled:hover,
.button-link:disabled:focus,
.button-link:disabled:active {
  opacity: 0.3;
}

.button-link:active {
  background: #FFCC33;
  ;
}

.button-link:focus-visible {
  border: 2px solid #AF4FFF;
}

/* Header */

.wrapper-header {
  margin: 15px 60px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logo-link {
  margin: 0;
  cursor: pointer;
  height: 37px;
  position: absolute;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  border: 2px solid #AF4FFF;
}

.navigation-user-line {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  justify-content: flex-start;
  width: 1160px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input-container {
  width: 359px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
}

.button-icon {
  border: none;
  border-radius: 50px 0 0 50px;
  background-image: url(../images/header/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 40px;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
}

.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  flex-grow: 1;
  border: none;
  border-radius: 0 0 0 0;
  cursor: pointer;
}

.input-container:focus-within {
  outline: 2px solid hsl(273, 100%, 65%);
}

.input-container:disabled,
.input-container:disabled:hover,
.input-container:disabled:focus,
.input-container:disabled:active {
  opacity: 0.3;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  background-color: inherit;
  margin: 0;
  padding: 10px 56px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  margin-left: -2px;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-button:disabled,
.search-button:disabled:hover,
.search-button:disabled:focus,
.search-button:disabled:active {
  opacity: 0.3;
}

.button-container:focus-within {
  outline: 2px solid #AF4FFF;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 30px 60px;
}

.navigation-user-item,
.navigation-menu-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 18px;
  align-items: center;
}

.navigation-user-list,
.navigation-menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 26px;
  list-style-type: none;
  justify-content: space-between;
}

.navigation-user-item:last-child .navigation-menu-item:last-child {
  margin-right: 60px;
}

.navigation-user-item-get-in {
  margin-right: auto;
}

.navigation-user-link,
.navigation-menu-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.navigation-user-link {
  min-width: 81px;
  background-position: 0 9px, left;
  background-repeat: no-repeat;
  padding-left: 27px;
}

.navigation-user-link-get-in {
  background-image: url(../images/header/get-in-icon.svg);
  margin-right: 50px;
}

.navigation-user-link-compare {
  background-image: url(../images/header/compare-icon.svg)
}

.navigation-user-link-basket {
  background-image: url(../images/header/basket-icon.svg);
  background-position: 7px 7px, left;
  z-index: -2;
  position: relative;
}

.navigation-number-of-products {
  position: relative;
  width: 21px;
  height: 21px;
  left: -26px;
  top: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  z-index: 1;
}

.navigation-number-of-products::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  left: -8px;
  top: -3px;
  background-color: #FFFFFF;
  border-radius: 50px;
  z-index: -1;
}

.navigation-menu-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-menu-link-product-catalog{
  position: relative;
}

.navigation-menu-button-catalog-within {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 22px;
  font-family: 'Rubik';
  background-color: inherit;
  z-index: 1;
}

.navigation-menu-button-catalog-within-opened {
  display: none;
}

.navigation-menu-within {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 1160px;
  top: 204px;
  left: -60px;
  background-color:  #FFE17F;
  z-index: 0;
}

.navigation-menu-catalog-links-within {
  display: grid;
  margin: 33px 60px 27px;
  grid-template-columns: 262px 211px 211px;
  gap: 0 30px;
}

.within-group {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation-menu-catalog-within-group-1 {
  grid-column: 1/2;
}

.navigation-menu-catalog-within-group-2 {
  grid-column: 2/3;
}

.navigation-menu-catalog-within-group-3 {
  grid-column: 3/4;
}

.within-item:not(:last-child) {
  margin-bottom: 10px;
}

.within-item-link {
  cursor: pointer;

}
